.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  background-color: rgb(126, 130, 131);
  color: wheat;
}

.Nav_Links {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Nav_Links li {
  text-decoration-color: antiquewhite;
}

.img {
  width: 200px;
  height: 95px;
}