.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(73, 79, 82);
  min-height: 7vh;
  color: antiquewhite;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}